.altas-game {

    display: flex;
    justify-content: flex-start;


}
.altas-game h1, .altas-game h2, .altas-game h3, .altas-game h4, .altas-game h5, .altas-game h6, .altas-game p {
    color : rgb(207, 93, 26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.altas-gameside {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
}
.altas-actions {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 40%;
    
}
.altas-actions input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    
}

.gameboard {
    margin-left: 200px;

}
.ismail-change-info {
    position: absolute;
    left: 400px;
    top: 600px;
}