/*

  Contact Page Codes

*/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.aydnContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


#aydnContact input[type="text"],
#aydnContact input[type="email"],
#aydnContact input[type="tel"],
#aydnContact input[type="url"],
#aydnContact textarea,
#aydnContact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#aydnContact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#aydnContact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#aydnContact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#aydnContact input[type="text"],
#aydnContact input[type="email"],
#aydnContact input[type="tel"],
#aydnContact input[type="url"],
#aydnContact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#aydnContact input[type="text"]:hover,
#aydnContact input[type="email"]:hover,
#aydnContact input[type="tel"]:hover,
#aydnContact input[type="url"]:hover,
#aydnContact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#aydnContact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#aydnContact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#aydnContact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#aydnContact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#aydnContact input:focus,
#contaydnContactact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

#aydnContact .aydnContactTitle {
  text-align: center;
  margin-bottom: 30px;
}

#aydnContact h4 {
  margin-bottom: 3px;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*

  Contact Page Codes !!!!!

*/


/*
  ==============================================
*/


/*

  Login Page Codes

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.aydnLoginContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#aydnLoginForm input[type="email"],
#aydnLoginForm input[type="password"],
#aydnLoginForm input[type="checkbox"],
#aydnLoginForm input[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#aydnLoginForm {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#aydnLoginForm h2 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#aydnLoginForm h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#aydnLoginForm input[type="email"],
#aydnLoginForm input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#aydnLoginForm input[type="email"]:hover,
#aydnLoginForm input[type="password"]:hover,
#aydnLoginForm input[type="checkbox"]:hover,
#aydnLoginForm label:hover,
#aydnLoginForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


#aydnLoginForm input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}


#aydnLoginForm input[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#aydnLoginForm input[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#aydnLoginForm input:focus {
  outline: 0;
  border: 1px solid #aaa;
}



#aydnLoginForm input[type="email"] {
  margin-top: 15px;
}


#aydnLoginForm input[type="password"],
#aydnLoginForm input[type="checkbox"],
#aydnLoginForm label,
#aydnLoginForm input[type="submit"] {
  margin-top: 8px;
}

#aydnLoginForm p {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

#aydnLoginForm span {
  text-decoration: underline;
}


/*

  Login Page Codes !!!!!

*/


/*
  ==============================================
*/


/*

  Admin Login Page Codes

*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.aydnAdminContainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#aydnAdminForm input[type="email"],
#aydnAdminForm input[type="password"],
#aydnAdminForm input[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#aydnAdminForm {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#aydnAdminForm h2 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#aydnAdminForm h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#aydnAdminForm input[type="email"],
#aydnAdminForm input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#aydnAdminForm input[type="email"]:hover,
#aydnAdminForm input[type="password"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#aydnAdminForm input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#aydnAdminForm input[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#aydnAdminForm input[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#aydnAdminForm input:focus {
  outline: 0;
  border: 1px solid #aaa;
}

#aydnAdminForm input[type="email"] {
  margin-top: 15px;
}

#aydnAdminForm input[type="password"],
#aydnAdminForm input[type="submit"] {
  margin-top: 8px;
}






/*

  Admin Login Page Codes !!!!!

*/


/*
  ==============================================
*/


/*

  ..................

*/