/*
    Main BG Photo
*/
/* .foto img {
  width:100% ; height: 900px; object-fit: cover;
  opacity: 30%;
} */

.neslihan-blogResimleri img{
    border-radius: 55%;
    width:55%;
    height:350px;
    object-fit:cover;
    float: left;
    
 }

 .neslihan-blogResimleri h2{
    margin:0.5rem;
    width: calc( 100% / 2- 1rem);
    float: left;
    color: white;

 }

 .neslihan-blogResimleri p{
    margin:1rem;
    color: white;

 }
 
 /*.neslihan-fotolar img{
    border-radius: 8px;
    max-width:100%;
    height:300px;
    object-fit:cover;
    margin-left:1em;
    margin-top:1em;
    width: calc( 100% );
    float: left;

 }*/

 .neslihan-fotolar article {
    margin:0.5rem;
    width: calc( 100% / 3 - 1rem);
    float: left;
    color:lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em ;
    
}

.neslihan-fotolar img {
    width:100%;
    height:30vh;
    object-fit:cover;
    float: left;
    border-radius: 8px;
    margin-bottom: 1em;
}

/*.yazi {
    display:flex;
    flex-wrap: wrap-reverse
    width:calc(100%/3);
    color: white;*/

    /* body 
    {
        background-image:url("assets/img/foto1.png");
        background-repeat: no-repeat; 
        background-size: cover;
    } */

    * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.nesl-mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.nesl-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.nesl-prev, .nesl-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nesl-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.nesl-prev:hover, .nesl-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.nesl-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.nesl-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .nesl-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.nesl-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes nesl-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes nesl-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .nesl-prev, .nesl-next,.nesl-text {font-size: 11px}
}

    

    