/*
    Main BG Photo
*/
/* .foto img {
  width:100% ; height: 900px; object-fit: cover;
  opacity: 30%;
} */

.neslihan-blogResimleri {
    border-radius: 50%;
 }
 
 /*.neslihan-fotolar img{
    border-radius: 8px;
    max-width:100%;
    height:300px;
    object-fit:cover;
    margin-left:1em;
    margin-top:1em;
    width: calc( 100% );
    float: left;

 }*/

 .neslihan-fotolar article {
    margin:0.5rem;
    width: calc( 100% / 3 - 1rem);
    float: left;
}

.neslihan-fotolar img {
    width:100%;
    height:30vh;
    object-fit:cover;
    float: left;
    border-radius: 8px;
}
/*.yazi {
    display:flex;
    flex-wrap: wrap-reverse
    width:calc(100%/3);
    color: white;*/